.footer {
  background-color: $darkblue;
  color: $white;
  padding: 2.5rem;

  @include breakpoint-down(medium) {
    text-align: center;
  }
  @include breakpoint-up(medium) {
    text-align: left;
  }

  .container {
    @include breakpoint-up(medium) {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 3fr;
      // grid-template-rows: 1fr auto;
      grid-template-areas:
        'logo links1 link2 cta'
        'social . . .';
      justify-items: start;
      gap: 1rem;
    }
    git .wrapperLogoSocial {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  a {
    color: $white;
  }

  &__logo {
    display: inline-block;

    margin-bottom: 2rem;
    // @include breakpoint-down(medium) {
    //   margin-bottom: 1.875rem;
    // }

    @include breakpoint-up(medium) {
      grid-area: logo;
      text-align: left;
      margin-top: 1em;
    }
  }

  &__social {
    margin-bottom: 1.875rem;

    @include breakpoint-up(medium) {
      grid-area: social;
      align-self: end;
      margin-bottom: 0;
    }
    a {
      display: inline-block;
      height: 1.25rem;
      // font-size: 5em;

      svg path {
        height: 20px;
        transition: fill 250ms ease-in-out;
      }
      &:hover svg path {
        fill: $limegreen;
      }
    }
    a:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;

    font-size: 0.93rem;

    @include breakpoint-up(medium) {
    }

    &.col1 {
      @include breakpoint-up(medium) {
        grid-area: links1;
        align-self: center;
      }
    }
    &.col2 {
      margin-bottom: 1.875rem;

      // @include breakpoint-down(medium) {
      //   line-height: 2.25rem;
      // }

      @include breakpoint-up(medium) {
        // grid-area: links2;
        margin-bottom: 0;
        align-self: center;
      }
    }

    a {
      line-height: 2.25rem;
      transition: color 150ms ease-in-out;
      &:hover {
        color: $limegreen;
      }
    }
  }

  &__cta {
    @include breakpoint-up(medium) {
      grid-area: cta;
      justify-self: end;
      text-align: right;
    }
    a.button {
      margin-bottom: 1.875rem;
      background-color: $white;
    }
  }

  &__copyright {
    font-size: 0.8125rem;
    color: $grayishBlue;
    @include breakpoint-up(medium) {
      // grid-area: copyright;
      justify-self: end;
      align-self: end;
    }
  }
}
